<div style="display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;    
">


    <mat-slide-toggle>Toggle Me !!...</mat-slide-toggle>
</div>


<div style="display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;    
">
    <form action="">
        <!-- Mat Input-->
        <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input type="text" matInput placeholder="Name" required="">
        </mat-form-field>

        <!-- Mat Select-->
        <mat-form-field appearance="fill">
            <mat-label>Select your favorite food.. </mat-label>
            <mat-select>
                <mat-option value="1">Pizza</mat-option>
                <mat-option value="2">Burger</mat-option>
                <mat-option value="3">Pasta</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Mat Datepicker-->
        <mat-form-field appearance="fill">
            <mat-label>Choose your date of birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>

    </form>
</div>